{% extends "base.html" %}
{% load static %}
{% block content %}

<body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-behavior="sticky">

	<div class="main d-flex justify-content-center w-100">
		<main class="content d-flex p-0">
			<div class="container d-flex flex-column">
				<div class="row h-100">
					<div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
						<div class="d-table-cell align-middle">

							<div class="text-center mt-4">
								<h1 class="h2">Welcome Back</h1>
								<p class="lead">
									Sign in to your account to continue
								</p>
							</div>
							    {% if messages %}
									<div class="alert alert-danger" role="alert">
										{% for message in messages %}
											{{ message }}
										{% endfor %}
									</div>
								{% endif %}

							<div class="card">
								<div class="card-body">
									<div class="m-sm-4">
										<form method="POST" action="">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label class="form-label" name="username" for="username">
                                        Username
                                    </label>
                                    <div class="form-control-wrap">
                                        <input type="text" class="form-control form-control-lg"
                                               name="username"
                                               id="username"
                                               placeholder="Enter your name">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="form-label" name="password" for="password">Password</label>
                                    <div class="form-control-wrap">
                                        <input type="password" class="form-control form-control-lg"
                                               name= "password"
                                               id="password"
                                            placeholder="Enter your passcode">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button type="submit"
                                            class="btn btn-lg btn-primary btn-block">
                                        Signin
                                    </button>
                                </div>
                            </form>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</main>
	</div>


<script src="{% static 'js/app.js' %}">

</script>
</body>
{% endblock %}
