{% extends 'base.html' %}

{% block title %}
    <title>Users Profile</title>
{% endblock title %}

{% block content %}
    <h1 style="text-align: center; padding-top: 1em; padding-bottom: 1em;">
        Users Information
    </h1>
    <!-- Search section  -->
    <div class="center-form" style="display: flex; justify-content: center;">
        <form action="{% url 'user-Profile' %}" method="GET" style="width: 500px;">
            <div class="input-group mb-3">

            </div>
        </form>
    </div>
    <br>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">UserName</th>
                <th scope="col">Email Address</th>
                <th scope="col">DOB</th>
                <th scope="col">Categories</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <th scope="row">{{ user.username }}</th>
                    <td>{{ user.email }}</td>
                    <td>{{ user.birth_date }}</td>
                    <td>{{ user.categories }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}
